@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --baseBG: #212122;
    --brilliant: #F1FFFA;
    --alert: #DB3069;
    --focusG: #018E42;
  }
}
